language: node_js
sudo: required
dist: trusty
addons:
  firefox: '46.0'
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
node_js:
  - '6'
  - '5'
  - '4'
before_script:
  - npm install -g bower polymer-cli
  - bower install
script:
  - echo $JAVA_HOME
  - ls -ltrh /usr/lib/jvm/
  - export "JAVA_HOME=/usr/lib/jvm/java-6-openjdk/"
  - echo $JAVA_HOME
  - xvfb-run polymer test